<form action="/favourites" method="post">
    <input type="hidden" name="_id" value="<%= home._id %>">
    <button type="submit" class="btn bg-teal-300 p-2 cursor-pointer rounded-sm mx-auto">
    Add to Favourite
    </button>
</form>