<form action="/favourites" method="post" class="flex-1">
    <input type="hidden" name="_id" value="<%= home._id %>">
    <button type="submit" class="w-full btn bg-teal-300 p-2 cursor-pointer rounded-sm">
    Add to Favourite
    </button>
</form>